= form_for announcement do |f|
  = f.label :title
  = f.text_field :title
  = f.label :type
  = f.text_field :type
  = f.label :content
  = f.text_field :content
  = f.label :price
  = f.text_field :price
  = f.submit
