.col-lg-12
  .form-inline.profile_scss
    .form-group
    .col-sm-2
      First name:
    .col-sm-10
      - if profile.first_name.empty?
        = render 'partials/name'
      - else
        = profile.first_name
  %br
  .form-inline.profile_scss
    .form-group
    .col-sm-2
      Last name:
    .col-sm-10
      - if profile.last_name.empty?
        = render 'partials/surname'
      - else
        = profile.last_name
  %br
  .profile_scss
    .form-inline.profile_scss
      .form-group
      .col-sm-2
        Phone number:
      .col-sm-10
        - if profile.phone_number.nil?
          = render 'partials/phone_number'
        - else
          = profile.phone_number
  %br
