%div{ role: "tabpanel" }
  %ul.nav.nav-tabs#myTab{ role: "tablist" }
    %li.active= link_to "Profile", '#profile', data: { toggle: "tab" }
    %li= link_to "Skills", '#skill', data: { toggle: "tab" }
    %li= link_to "Announcement", '#announcement', data: { toggle: "tab" }
    %li= link_to "Comments", '#comments', data: { toggle: "tab" }
  .tab-content
    #profile.tab-pane.active{ role: "tabpanel" }
      = render 'users/profile/general_view'
      = render 'users/profile/user_profile'
    #skill.tab-pane{ role: "tabpanel" }
      = render 'users/skill/form'
      = render 'users/skill/show'
    #comments.tab-pane{ role: "tabpanel" } tu beda kiedyś komentarze
    #announcement.tab-pane{ role: "tabpanel" }
