= render_profile('First name', :first_name, profile.first_name, profile)
= render_profile('Last name', :last_name, profile.last_name, profile)
= render_profile('Phone number', :phone_number, profile.phone_number, profile)
%h2.profile_scss
  Address
= render_profile('Voivodeship', :voivodeship, address.voivodeship, address)
= render_profile('City', :city, address.city, address)
= render_profile('Street', :street_name, address.street_name, address)
= render_profile('Building number', :building_number, address.building_number, address)
= render_profile('Appartment number', :appartment_number, address.appartment_number, address)
